<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hoboken Rec App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/site.css">
    
<body class="container">
    <nav class="navbar navbar-dark bg-dark"><!--class="navbar" class="jumbotron text-center" -->
        <div class=" row"><a class="" href="/" >
            <div class="logo_wrapper">
                <img src="/public/assets/Hoboken-city-logo.png"  alt="Hoboken Logo" class="logo_link_image w-hidden-medium w-hidden-small w-hidden-tiny">
                {{!-- <img src="/public/assets/Hoboken-logo_color-1.png"  alt="Hoboken Logo" class="logo_link_image w-hidden-main"> --}}
            </div>
            <div class="navbar-brand"><h1 class="site-title">Hoboken Rec App - Admin Site</h1></div>
        </a>
        </div>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <div class="row">
                    <div class="col nav-item">
                        <a class="nav-link" href="/teamList">View Teams</a>
                    </div>
                    <div class="col nav-item">
                        <a class="nav-link" href="/events">View Events</a>
                    </div>
                    <div class="col nav-item logout">
                        <form id="logout" method="get" action="/users/logout">
                            <input class="btn btn-light btn-sm" type="submit" value="Log Out">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {{{body}}}
     <footer>
        <p class="author">Created by Akshay Sampath (2019)</p>
    </footer>
    </main>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/form.js"></script>
     <!-- jQuery fallback -->
     <script>
         if (!window.jQuery) { document.write('<script src="/public/js/jquery.js"><\/script>'); }
     </script>
 
     <!-- Latest compiled and minified JavaScript --><!--
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
         crossorigin="anonymous"></script>-->
         


 
</body>

</html>

