<div class="details">
    <div class="jumbotron">
        <h1 class="display-5">{{#cap}}{{user.type}}{{/cap}} Home</h1>
        <p class="lead">User: {{user.username}}</p>
        <hr class="my-4">
    
        <div class="card bg-light mb-3">
            <div class="card-title centered"><a href="/teamList">View Teams</a></div>
            <div class="card-subtitle mb-2"> - Explore teams involved in the Hoboken Rec Basketball League</div>
            <div class="card-subtitle mb-2"> - <code>ref</code> users can update team scores</div> 
            <br>
            <div class="card-title centered"><a href="/teamList">View Events</a></div>
            <div class="card-subtitle mb-2 "> - Explore upcoming events in the Hoboken Rec Basketball League.</div>
            <div class="card-subtitle mb-2 "> - <code>admin</code> users can edit team names.</div> 

        </div>


    </div>

</div>