main{
    padding: 15%;
    padding-top: 0pt;
}
h1 {
    /*text-align: center;*/
    font-size: 30pt;
    font-weight: 700;
    color: rgb(0, 0, 0);
} 
h2 {
    text-align: left;
    font-size: 16pt;
    font-weight: 400;
    color: rgb(19, 17, 17);
}
body{
    background-color: rgb(224, 207, 207);
    padding: 10pt;
    padding-top: 2pt;
}
a:link {
    text-decoration: none;

  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: underline;
  }
p{
    font-size: 12pt;
    font-weight: 200;
    color: rgb(141, 139, 139);
}
article{
    background-color: rgb(240, 228, 215);
    padding: 5pt;
    padding-left: 10pt;
    border-style: double;
}
footer{
    text-align: center;
}
.jumbotron{
  background-color: rgb(250, 250, 250)
}
.author{
    font-size: 10pt;
}
.card{
    padding: 10pt;

}

.site-title{
    color: white;
    padding-left: 5%;
}   
.logout{
  text-align: right
}

.logo_wrapper {
    display: inline-block;
    margin-top: 10px;
  }

.logo_link_image {
    -webkit-filter: saturate(0%) brightness(0%) invert(100%);
    filter: saturate(0%) brightness(0%) invert(100%);
    -webkit-perspective: 876px;
    perspective: 876px;
    width:60px;
    padding-left: 20%;
    
  }